.mypy_cache/
.DS_Store
README.Aalto
*.pyc
*tmp*
corpus
*.list
new_vocab

/.cache/
/.coverage
/.env
/.nox/
/.python-version
/.pytype/
/.vscode/
/dist/
/docs/_build/
/generated/
/logs/
/src/*.egg-info/
__pycache__/
